body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cabecalho {
  position: fixed;
  background-color: rgb(68, 56, 56);
  width: 100%;
  margin: 0;
  height: 5em;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  display: inline-block;
}
.cabecalho a {
  text-decoration: none;
}
.cabecalho a:hover {
  opacity: 0.8;
}
.titulo img {
  display: flex;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  justify-content: center;
}
.cabecalho .lupa {
  background: url(Imagens/1024px-Search_Icon.svg.png) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  float: left;
  margin-left: 1em;
  margin-top: 2em;
  border: none;
  opacity: 1;
}

@media (min-width: 768px) {
  .cabecalho .lupa {
    position: relative;
    float: right;
    background-color: red;
    display: inline-block;
  }
}
.menu {
  display: flex;
  padding-top: 5em;
  margin-left: 0%;
  align-items: center;
  justify-content: center;
}
nav {
  width: 100%;
}
nav ol {
  padding-left: 0%;
}

.conteudo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.conteudo img {
  border-radius: 30px;
  height: 240px;
  margin-left: 2em;
  width: 500px;
}
.conteudo a img:hover {
  opacity: 0.8;
}
.text a {
  text-decoration: none;
}
.text {
  text-align: center;
  margin-top: auto;
  margin-right: 8em;
  margin-left: 8em;
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: rgb(68, 56, 56);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Faz o footer ocupar o espaço restante na tela */
  width: 100%;
  max-width: 100%;
  padding: 2em;
  margin-bottom: 0%;
  overflow: auto;
}

footer img {
  width: 280px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
